{% for exercise in exercises %}
            <a href="{{ url_for('main.exercise_detail', exercise_id=exercise.id) }}" class="exercise-block-link search-exercise-link">

    <section class="exercise-block ">
                    <h2>{{ exercise.name }}</h2>

            <div class="exercise-block-content exercise-search-content">
{% if exercise.image_url %}
    <img class="exercise-block-img" src="{{ url_for('static', filename='img/exercises/' + exercise.image_url) }}" alt="{{ exercise.name }}">
{% else %}
    <img class="exercise-block-img" src="/static/img/exercises/default.jpg" alt="{{ exercise.name }}">
{% endif %}



            </div>
<a href="#" class="add-exercise" data-exercise-id="{{ exercise.id }}" data-next="{{ request.args.get('next', request.referrer) }}">+</a>
    </section>
                    </a>

{% endfor %}