<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                {% if post.author.avatar %}
                    <img src="{{ post.author.avatar(70) }}" alt="{{ post.author.username }}'s avatar" />
                {% else %}
                    <img src="{{ url_for('static', filename='default_avatar.png') }}" alt="Default avatar" width="70" />
                {% endif %}
            </a>
        </td>
        <td>
            {% set user_link %}
                <a class="user_popup" href="{{ url_for('main.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            {% endset %}
            {{ user_link | safe }} said {{ moment(post.timestamp).fromNow() }}
            <br>
            <span id="post{{ post.id }}">{{ post.body }}</span>
        </td>
    </tr>
</table>