{% extends "base.html" %}

{% block content %}
<div class="top-bar">
  <a href="{{ url_for('main.index') }}">
    <img src="{{ url_for('static', filename='img/back.svg') }}" alt="Back">
  </a>
</div>

<section class="header-section">
  <form method="POST" class="add-workout-form">
    {{ form.hidden_tag() }} <!-- CSRF token -->
    <div class="workout-name">
      <label for="name"><h1>Nieuwe workout</h1></label>
      {{ form.name(placeholder="Naam van workout", required=True) }}
      {% if form.name.errors %}
        <ul class="errors">
          {% for error in form.name.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <section class="exercise-blok-section">
      <p>Je hebt nog geen workout toegevoegd.</p>
      <p>Na het opslaan kan je workouts toevoegen.</p>
    </section>
<a href="{{ url_for('main.search_exercise', plan_id=workout_plan.id if workout_plan else 0) }}" class="second-grey-cta-btn">Add exercise</a>
<a href="{{ url_for('main.edit_workout', plan_id=workout_plan.id if workout_plan else 0) }}" class="orange-btn-outline add-new-workout-btn">workout toevoegen</a>
  </form>
</section>
{% endblock %}