{% extends "base.html" %}

{% block title %}FitTrack - Gearchiveerde Workout Plannen{% endblock %}

{% block content %}
<div class="top-bar">
    <a href="{{ url_for('main.index') }}">
        <img src="{{ url_for('static', filename='img/back.svg') }}" alt="Terug knop" class="back-icon"/>
    </a>
</div>

<section class="header-section">
    <h1>Gearchiveerde Workout Plannen</h1>
</section>

<section class="exercise-blok-section ">
    {% if workout_data %}
        {% for workout_info in workout_data %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ workout_info.plan.name }}</h5>
                    {% if workout_info.exercises %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Oefening</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for exercise in workout_info.exercises %}
                                    <tr>
                                        <td>{{ exercise.name }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Er zijn geen gearchiveerde workout plannen.</p>
    {% endif %}
</section>

<a href="{{ url_for('main.index') }}" class="orange-btn-outline home-btn mg-btm-exercise mg-auto archive-home-btn">Terug naar Home</a>
{% endblock %}