{% extends "base.html" %}
{% block content %}
        <div class="top-background"></div>
    <img src="static/img/fittrack-logo-white.svg" alt="logo" class="start-page-logo" />
    <div class="start-page-content">

    <h1>{{ 'Welkom bij fitrack!'}}</h1>
        <p>{{ 'Get in shape
Get fit with your own custom made workouts.'}}</p>
    <div class="row justify-content-center">
        <div class="">
            <a href="{{ url_for('main.login') }}" class="orange-btn">{{ 'Inloggen' }}</a>
        </div>
        <div class="">
            <a href="{{ url_for('main.signup') }}" class="orange-btn">{{ 'Aanmelden' }}</a>
        </div>
        </div>
    </div>
{% endblock %}