{% extends "base.html" %}
{% block content %}
    <h1 class="page-title">GOAL WEIGHT</h1>
    <div class="orange-section-bottom"></div>

<form method="POST" action="{{ url_for('main.onboarding_goal_weight') }}">
    {{ form.hidden_tag() }}

    <section class="question-section">
        <label for="goal-weight" class="question-label">What is your goal weight?</label>

        <input type="range"
               min="30" max="120" step="0.1"
               id="goal-weight-range"
               name="fitness_goal"
               class="question-range"
               value="{{ request.form.get('fitness_goal', 75) }}"
               oninput="syncGoalInputs(this.value)" required>

        <input type="number"
               min="30" max="120" step="0.1"
               id="goal-weight-input"
               class="question-input"
               value="{{ request.form.get('fitness_goal', 75) }}"
               oninput="syncGoalInputs(this.value)" required>

        {% if form.fitness_goal.errors %}
            <span style="color: red;">{{ form.fitness_goal.errors[0] }}</span>
        {% endif %}

        <button type="submit" class="white-btn">Next</button>
    </section>
</form>
<script src="{{ url_for('static', filename='js/input-range.js') }}" defer></script>
{% endblock %}
