{% extends "base.html" %}
{% block content %}
    <h1 class="page-title">ABOUT YOU</h1>
    <div class="orange-section-bottom"></div>

    <section class="question-section">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ 'danger' if category == 'danger' else 'success' }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" action="{{ url_for('main.onboarding_name') }}">
            {{ form.hidden_tag() }}

            <label for="naam" class="question-label">What is your name?</label>
            {{ form.name(class="question-input", id="naam", required=True) }}

            {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}

            {{ form.submit(class="white-btn") }}
        </form>
    </section>
{% endblock %}
