{% extends "base.html" %}
{% block content %}
    <h1 class="page-title">CURRENT WEIGHT</h1>
    <div class="orange-section-bottom"></div>

<form method="POST" action="{{ url_for('main.onboarding_current_weight') }}">
    {{ form.hidden_tag() }}

    <section class="question-section">
        <label for="current-weight" class="question-label">What is your current weight?</label>

        <input type="range"
               min="30" max="200" step="0.1"
               id="current-weight-range"
               name="current_weight"
               class="question-range"
               value="{{ request.form.get('current_weight', 115) }}"
               oninput="syncWeightInputs(this.value)" required>

        <input type="number"
               min="30" max="200" step="0.1"
               id="current-weight-input"
               class="question-input"
               value="{{ request.form.get('current_weight', 115) }}"
               oninput="syncWeightInputs(this.value)" required>

        {% if form.current_weight.errors %}
            <span style="color: red;">{{ form.current_weight.errors[0] }}</span>
        {% endif %}

        <button type="submit" class="white-btn">Next</button>
    </section>
</form>

    <script src="{{ url_for('static', filename='js/input-range.js') }}" defer></script>
{% endblock %}
